.logo{
    /* position: relative; */
    top: 1px;
    left: 16px;
    font-size: 18px;
}
.image{
    background: url('sea.jpeg');
    background-size: 100%;
}
.link{
    white-space: nowrap;
    top:3%;
    left:85%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
}
.links{
    white-space: nowrap;
    top:3%;
    left:75%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2; 
    
}
nav ul{
    list-style: none;
    display:flex;
    gap:20px;
    white-space: nowrap;
    top:1%;
    left:45%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;

}
.bora{
    flex: 1;
    max-width: 30%;
    margin: 1rem;
    text-align: center;

}
.search-container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .trip-type {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .trip-type label {
    font-size: 16px;
    margin-left: 5px;
  }
  
  .search-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-fields .from-to,
  .search-fields .date-field,
  .search-fields .travellers-class {
    width: 45%;
    position: relative;
  }
  
  .search-fields label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .search-fields input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .search-fields span {
    font-size: 12px;
    color: #666;
  }
  
  .special-fare {
    margin-bottom: 20px;
  }
  
  .special-fare label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  
  .fare-options {
    display: flex;
    justify-content: space-between;
  }
  
  .fare-options button {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
  }
  
  .fare-options button:last-child {
    margin-right: 0;
  }
  
  .fare-options .active {
    background-color: #007BFF;
    color: #fff;
    border: 1px solid #007BFF;
  }
  
  .search-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }

  .list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sydney{
    padding-left: 40px;
  }
  .mid{
    padding-left: 600px;
  }